body{
    padding: 40px;
    background-color: rgb(156, 190, 153);
}
.table{
    padding: 20px;
    text-align: left;
}
td{
   padding: 20px;
   
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .submit{
      margin-left: 20px;
      background-color: rgb(104, 49, 175);
      border-radius: 20px;
  }
  .submit:hover{
      background-color: rgb(70, 14, 143);
  }